<h1>This is our about page</h1>

<p>The Super Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

{{#link-to 'contact'}}Contact us.{{/link-to}}
<br>
{{#link-to 'index'}}Home{{/link-to}}
